rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /items/{itemID} {
  		allow read: if request.auth.uid in resource.data.access;
      
      match /entries/{entryID} {
      		allow read: if request.auth.uid in get(/databases/$(database)/documents/items/$(itemID)).data.access && resource.data.is_active

    	}	
		}
  }
}